<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>Welcome</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="/stylesheet.css"/>
<body class="w3-content w3-black" style="max-width:1300px">

<!-- Style from https://www.w3schools.com/w3css/tryw3css_templates_fifty.htm -->

<!-- Header Row: Spring Boot Logo -->
<div class="w3-row w3-lime">
    <div class="w3-half w3-container w3-center w3-cell-middle" id="logo">
        <img src="SpringBoot.png" width="100%" height="100%" class="w3-padding-24 w3-center"/>
    </div>
    <div class="w3-half w3-container w3-center" id="title">
        <h1 class="w3-padding-48">Environment Info</h1>
    </div>
</div>

<!-- First Row: Application and Actuator -->
<div class="w3-row">
    <div class="w3-half w3-teal w3-container w3-center" style="height:600px" id="app">
        <div class="w3-padding-32">
            <h1>Application Code</h1>
        </div>
        <div class="w3-center">
            <p th:text="'Name: ' + ${@environment.getProperty('spring.application.name')}"/>
            <p th:each="activeprofile : ${@environment.getActiveProfiles()}"  th:text="'Active Profile: '+${activeprofile}"/>
            <p th:text="'Version: ' + ${@buildProperties.getVersion()}"/>
            <p th:text="'Build Date: ' + ${@buildProperties.getTime()}"/>
            <p th:text="'Branch: ' + ${@gitProperties.getBranch()}"/>
            <p th:text="'CommitId: ' + ${@gitProperties.getCommitId()}"/>
            <p th:text="'Internal Port: ' + ${@environment.getProperty('local.server.port')}"/>
            <p th:text="'OS: ' + ${@environment.getProperty('os.name')}"/>
            <p th:text="'Java Runtime: ' + ${@environment.getProperty('java.runtime.name')}"/>
            <p th:text="'Java Variant: ' + ${@environment.getProperty('java.vm.name')}"/>
            <p th:text="'Java Version: ' + ${@environment.getProperty('java.runtime.version')}"/>
            <a href="/rest" class="w3-button w3-block w3-hover-amber w3-padding-8">[Test Rest Endpoint]</a>
        </div>
    </div>

    <div class="w3-half w3-green w3-container w3-center" style="height:600px" id="standard">
        <div class="w3-padding-32">
            <h1>Actuator</h1>
        </div>
        <div class="w3-center">
            <a href="/info" class="w3-button w3-block w3-hover-teal w3-padding-8">/Info</a>
            <a href="/health" class="w3-button w3-block w3-hover-teal w3-padding-8">/Health</a>
            <a href="/env" class="w3-button w3-block w3-hover-amber w3-padding-8">/Env</a>
            <a href="/configprops" class="w3-button w3-block w3-hover-amber w3-padding-8">/ConfigProps</a>
            <a href="/beans" class="w3-button w3-block w3-hover-amber w3-padding-8">/Beans</a>
            <a href="/metrics" class="w3-button w3-block w3-hover-amber w3-padding-8">/Metrics</a>
            <a href="/loggers" class="w3-button w3-block w3-hover-amber w3-padding-8">/Loggers</a>
            <a href="/trace" class="w3-button w3-block w3-hover-amber w3-padding-8">/Trace</a>

            <small class="w3-button w3-block w3-hover-amber w3-padding-8"
               th:text="'Secured: ' + ${@environment.getProperty('management.security.enabled')}"/>
        </div>
    </div>
</div>

<!-- Second Row: Cloud and Data Services -->
<div class="w3-row">
    <div class="w3-half w3-deep-purple w3-container w3-center" style="min-height:600px" id="cloud">
        <div class="w3-padding-16">
            <h1>Cloud Platform</h1>
        </div>
        <div>
            <img src="PivotalCloudFoundry.png" width="50%" height="50%"/>
        </div>
        <div th:if="${@environment.acceptsProfiles('cloud')}" class="w3-center">
            <p th:text="'API: ' + ${@environment.getProperty('cloud.application.cf_api')}"/>
            <p th:text="'App Name: ' + ${@environment.getProperty('vcap.application.name')}"/>
            <p th:text="'Ident: ' + ${@environment.getProperty('INSTANCE_GUID')}"/>
            <p th:text="'Index: ' + ${@environment.getProperty('INSTANCE_INDEX')}"/>
            <p th:text="'Space: ' + ${@environment.getProperty('vcap.application.space_name')}"/>
            <p th:text="'Memory (MB): ' + ${@environment.getProperty('vcap.application.limits.mem')}"/>
            <p th:text="'Storage (MB): ' + ${@environment.getProperty('vcap.application.limits.disk')} + ' [ephemeral]'"/>
            <p th:each="uri : ${@environment.getProperty('cloud.application.application_uris')}"  th:text="'URI: '+${uri}"/>
        </div>
        <div th:unless="${@environment.acceptsProfiles('cloud')}" class="w3-center">
            <!-- The abscence of this is TESTED FOR in the smoke test! -->
            <p>No Cloud Platform</p>
        </div>
    </div>

    <div class="w3-half w3-dark-grey w3-container w3-center" style="min-height:700px" id="Services">
        <div class="w3-padding-16">
            <h1>Data Services</h1>
        </div>
        <div>
            <img src="PcfMySql.png" width="15%" height="15%" class="w3-padding-16"/>
        </div>
        <div th:if="${@environment.containsProperty('cloud.services.mysql.id')}" class="w3-center">
            <!--<h4 class="">Data</h4>-->
            <p th:text="'Ident: ' + ${@environment.getProperty('cloud.services.mysql.id')}"/>
            <p th:text="'Plan: ' + ${@environment.getProperty('vcap.services.mysql.plan')}"/>
            <p th:text="'Label: ' + ${@environment.getProperty('vcap.services.mysql.label')}"/>
            <p th:text="'Scheme: ' + ${@environment.getProperty('cloud.services.mysql.connection.scheme')}"/>
        </div>
        <div th:unless="${@environment.containsProperty('cloud.services.mysql.id')}" class="w3-center">
            <!--<h4 class="">Data</h4>-->
            <!-- This is TESTED FOR in the smoke test! -->
            <p>No Data Service</p>

        </div>
        <div>
            <img src="PcfRabbitMQ.png" width="15%" height="15%" class="w3-padding-16"/>
        </div>
        <div th:if="${@environment.containsProperty('cloud.services.rabbit.id')}" class="w3-center">
            <!--<h4 class="w3-padding-16">Messaging</h4>-->
            <p th:text="'Ident: ' + ${@environment.getProperty('cloud.services.rabbit.id')}"/>
            <p th:text="'Plan: ' + ${@environment.getProperty('vcap.services.rabbit.plan')}"/>
            <p th:text="'Label: ' + ${@environment.getProperty('vcap.services.rabbit.label')}"/>
            <p th:text="'Scheme: ' + ${@environment.getProperty('cloud.services.rabbitmq.connection.scheme')}"/>
            <p th:text="'Host: ' + ${@environment.getProperty('cloud.services.rabbitmq.connection.host')}"/>
        </div>
        <div th:unless="${@environment.containsProperty('cloud.services.rabbit.id')}" class="w3-center">
            <!--<h4 class="w3-padding-16">Messaging</h4>-->
            <!-- This is TESTED FOR in the smoke test! -->
            <p>No Messaging Service</p>
        </div>
    </div>
</div>



<!-- Third Row: Application Services -->
<div class="w3-row">
    <div class="w3-half w3-deep-orange w3-container w3-center" style="min-height:700px" id="app-services">
        <div class="w3-padding-16">
            <h1>Application Services</h1>
        </div>
        <div>
            <img src="PcfRegistryServer.png" width="15%" height="15%" class="w3-padding-16"/>
        </div>
        <div th:if="${@environment.containsProperty('cloud.services.registry.id')}" class="w3-center">
            <!--<h4 class="">Registry</h4>-->
            <p th:text="'Ident: ' + ${@environment.getProperty('cloud.services.registry.id')}"/>
            <p th:text="'Plan: ' + ${@environment.getProperty('vcap.services.registry.plan')}"/>
            <p th:text="'Label: ' + ${@environment.getProperty('vcap.services.registry.label')}"/>
            <p th:text="'Tags: ' + ${@environment.getProperty('vcap.services.registry.tags')}"/>
        </div>
        <div th:unless="${@environment.containsProperty('cloud.services.registry.id')}" class="w3-center">
            <!--<h4 class="">Registry</h4>-->
            <!-- This is TESTED FOR in the smoke test! -->
            <p>No Registry Service</p>
        </div>

        <div>
            <img src="PcfConfigServer.png" width="15%" height="15%" class="w3-padding-16"/>
        </div>
        <div th:if="${@environment.containsProperty('cloud.services.config.id')}" class="w3-center">
            <!--<h4 class="w3-padding-16">Configuration</h4>-->
            <p th:text="'Ident: ' + ${@environment.getProperty('cloud.services.config.id')}"/>
            <p th:text="'Plan: ' + ${@environment.getProperty('vcap.services.config.plan')}"/>
            <p th:text="'Label: ' + ${@environment.getProperty('vcap.services.config.label')}"/>
            <p th:text="'Your host today is: ' + ${@environment.getProperty('your.host.is')}"/>
            <form method="POST" th:action="@{/refresh}">
                <button type="submit" name="submit" value="value" class="w3-button w3-block w3-hover-amber w3-padding-8">[ Refresh The Config ]</button>
            </form>
        </div>
        <div th:unless="${@environment.containsProperty('cloud.services.config.id')}" class="w3-center">
            <!--<h4 class="w3-padding-16">Configuration</h4>-->
            <!-- This is TESTED FOR in the smoke test! -->
            <p>No Config Service</p>
        </div>
    </div>

    <div class="w3-half w3-indigo w3-container w3-center" style="min-height:600px" id="cache-services">
        <div class="w3-padding-16">
            <h1>Caching Services</h1>
        </div>
        <div>
            <img src="PcfRedis.png" width="15%" height="15%" class="w3-padding-16"/>
        </div>
        <p>No Redis Service</p>
        <div>
            <img src="PivCloudCache.png" width="15%" height="15%" class="w3-padding-16"/>
        </div>
        <p>No Cloud Cache Service</p>
    </div>
</div>





</body>
<!-- Footer -->
<footer class="w3-container w3-black w3-padding-16">
    <p>
        <a href="https://www.w3schools.com/w3css/default.asp" class="w3-button w3-black w3-block w3-hover-teal w3-padding-small" target="_blank">Powered by w3.css</a>
        <a href="/stb" class="w3-text-red w3-button w3-black w3-block w3-hover-red w3-padding-small">[ KILL SWITCH ]</a>
    </p>

</footer>
</html>