<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>Welcome</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="/stylesheet.css"/>
<body class="w3-content" style="max-width:1300px">

<!--https://www.w3schools.com/w3css/tryw3css_templates_fifty.htm-->

<div class="w3-row w3-black w3-padding-48">
    <div class="w3-half w3-container w3-center" id="title">
        <div>
            <h1>SpringBoot Info</h1>
        </div>
    </div>
    <div class="w3-half w3-container w3-center w3-cell-middle" id="logo">
        <div>
            <img src="Spring.png" width="50%" height="50%"/>
        </div>
    </div>
</div>

<!-- Second Grid: Configuration Tips -->
<div class="w3-row">
    <div class="w3-half w3-teal w3-container w3-center" style="height:700px" id="app">
        <div class="w3-padding-48">
            <h1>Application</h1>
        </div>
        <div class="w3-center">
            <p th:text="'Name: ' + ${@environment.getProperty('spring.applicationName')}"/>
            <p th:each="activeprofile : ${@environment.getActiveProfiles()}"  th:text="'Active Profile: '+${activeprofile}"/>
            <p th:text="'Version: ' + ${@buildProperties.getVersion()}"/>
            <p th:text="'Build Date: ' + ${@buildProperties.getTime()}"/>
            <p th:text="'Branch: ' + ${@gitProperties.getBranch()}"/>
            <p th:text="'CommitId: ' + ${@gitProperties.getCommitId()}"/>
            <p th:text="'Internal Port: ' + ${@environment.getProperty('local.server.port')}"/>
            <p th:text="'OS: ' + ${@environment.getProperty('os.name')}"/>
            <p th:text="'Java Runtime: ' + ${@environment.getProperty('java.runtime.name')}"/>
            <p th:text="'Java Variant: ' + ${@environment.getProperty('java.vm.name')}"/>
            <p th:text="'Java Version: ' + ${@environment.getProperty('java.runtime.version')}"/>

            <!--<p th:each="defaultprofile : ${@environment.getDefaultProfiles()}"  th:text="'Default Profile: '+${defaultprofile}"/>-->
            <!--<p th:text="'Has Database: ' + ${@environment.getProperty('info.hasdatabase')}"/>-->
            <!--<p th:text="'Has Messaging: ' + ${@environment.getProperty('info.hasmessaging')}"/>-->
        </div>
    </div>

    <div class="w3-half w3-green w3-container w3-center" style="height:700px" id="standard">
        <div class="w3-padding-48">
            <h1>Actuator</h1>
        </div>
        <div class="w3-center">
            <a href="/info" class="w3-button w3-block w3-hover-teal w3-padding-16">/Info</a>
            <a href="/health" class="w3-button w3-block w3-hover-teal w3-padding-16">/Health</a>
            <a href="/env" class="w3-button w3-block w3-hover-amber w3-padding-16">/Env</a>
            <a href="/configprops" class="w3-button w3-block w3-hover-amber w3-padding-16">/ConfigProps</a>
            <a href="/beans" class="w3-button w3-block w3-hover-amber w3-padding-16">/Beans</a>
            <a href="/metrics" class="w3-button w3-block w3-hover-amber w3-padding-16">/Metrics</a>
            <a href="/loggers" class="w3-button w3-block w3-hover-amber w3-padding-16">/Loggers</a>
            <a href="/trace" class="w3-button w3-block w3-hover-amber w3-padding-16">/Trace</a>
            <!--<small><p>To disable Actuator security, set <pre>management.security.enabled=false</pre> in <pre>application.properties</pre>.</p></small>-->
            <small class="w3-button w3-block w3-hover-amber w3-padding-16"
               th:text="'Secured: ' + ${@environment.getProperty('management.security.enabled')}"/>
        </div>
    </div>
</div>

<!-- First Grid: Actuator Endpoints -->
<div class="w3-row">
    <div class="w3-half w3-deep-purple w3-container w3-center" style="min-height:700px" id="cloud">
        <div class="w3-padding-48">
            <h1>Cloud</h1>
        </div>
        <div th:if="${@environment.acceptsProfiles('cloud')}" class="w3-center">
            <p th:text="'API: ' + ${@environment.getProperty('cloud.application.cf_api')}"/>
            <p th:text="'App Name: ' + ${@environment.getProperty('vcap.application.name')}"/>
            <p th:text="'Ident: ' + ${@environment.getProperty('INSTANCE_GUID')}"/>
            <p th:text="'Index: ' + ${@environment.getProperty('INSTANCE_INDEX')}"/>
            <p th:text="'Space: ' + ${@environment.getProperty('vcap.application.space_name')}"/>
            <p th:text="'Memory (MB): ' + ${@environment.getProperty('vcap.application.limits.mem')}"/>
            <p th:text="'Storage (MB): ' + ${@environment.getProperty('vcap.application.limits.disk')} + ' [ephemeral]'"/>
            <p th:each="uri : ${@environment.getProperty('cloud.application.application_uris')}"  th:text="'URI: '+${uri}"/>
        </div>
        <div th:unless="${@environment.acceptsProfiles('cloud')}" class="w3-center">
            <!-- The abscence of this is TESTED FOR in the smoke test! -->
            <p>No Cloud Platform</p>
        </div>
    </div>

    <div class="w3-half w3-deep-orange w3-container w3-center" style="min-height:700px" id="Services">
        <div class="w3-padding-48">
            <h1>Services</h1>
        </div>
        <div th:if="${@environment.containsProperty('cloud.services.mysql.id')}" class="w3-center">
            <h3 class="w3-padding-16">Data</h3>
            <p th:text="'Ident: ' + ${@environment.getProperty('cloud.services.mysql.id')}"/>
            <p th:text="'Plan: ' + ${@environment.getProperty('vcap.services.mysql.plan')}"/>
            <p th:text="'Label: ' + ${@environment.getProperty('vcap.services.mysql.label')}"/>
            <p th:text="'Scheme: ' + ${@environment.getProperty('cloud.services.mysql.connection.scheme')}"/>
        </div>
        <div th:unless="${@environment.containsProperty('cloud.services.mysql.id')}" class="w3-center">
            <h3 class="w3-padding-16">Data</h3>
            <!-- This is TESTED FOR in the smoke test! -->
            <p>No Data Service</p>

        </div>
        <div th:if="${@environment.containsProperty('cloud.services.rabbit.id')}" class="w3-center">
            <h3 class="w3-padding-16">Messaging</h3>
            <p th:text="'Ident: ' + ${@environment.getProperty('cloud.services.rabbit.id')}"/>
            <p th:text="'Plan: ' + ${@environment.getProperty('vcap.services.rabbit.plan')}"/>
            <p th:text="'Label: ' + ${@environment.getProperty('vcap.services.rabbit.label')}"/>
            <p th:text="'Scheme: ' + ${@environment.getProperty('cloud.services.rabbitmq.connection.scheme')}"/>
            <p th:text="'Host: ' + ${@environment.getProperty('cloud.services.rabbitmq.connection.host')}"/>
        </div>
        <div th:unless="${@environment.containsProperty('cloud.services.rabbit.id')}" class="w3-center">
            <h3 class="w3-padding-16">Messaging</h3>
            <!-- This is TESTED FOR in the smoke test! -->
            <p>No Messaging Service</p>
        </div>
    </div>
</div>

</body>
<!-- Footer -->
<footer class="w3-container w3-black w3-padding-16">
    <p>
        <a href="https://www.w3schools.com/w3css/default.asp" class="w3-button w3-black w3-block w3-hover-teal w3-padding-small" target="_blank">Powered by w3.css</a>
        <a href="/stb" class="w3-text-red w3-button w3-black w3-block w3-hover-red w3-padding-small">[ KILL BUTTON ]</a>
    </p>

</footer>
</html>