<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>Welcome</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="/stylesheet.css"/>
<body class="w3-content" style="max-width:1300px">

<div class="w3-row">
    <div class="w3-green w3-container w3-center" style="height:100px" id="header">
        <div class="w3-padding-16">
            <h3 th:text="'PCF Spring Boot Demo: ' + ${@environment.getProperty('local.server.port')}" />
        </div>
    </div>
</div>

<!-- Second Grid: Configuration Tips -->
<div class="w3-row">
    <div class="w3-half w3-dark-grey w3-container w3-center" style="height:700px" id="app">
        <div class="w3-padding-64">
            <h1>Spring</h1>
        </div>
        <div class="w3-center">
            <p th:text="'Application Name: ' + ${@environment.getProperty('spring.applicationName')}"/>
            <p th:each="activeprofile : ${@environment.getActiveProfiles()}"  th:text="'Active Profile: '+${activeprofile}"/>
            <p th:text="'Version: ' + ${@buildProperties.getVersion()}"/>
            <p th:text="'Build Date: ' + ${@buildProperties.getTime()}"/>
            <p th:text="'Branch: ' + ${@gitProperties.getBranch()}"/>
            <p th:text="'CommitId: ' + ${@gitProperties.getCommitId()}"/>
            <p th:text="'Port: ' + ${@environment.getProperty('local.server.port')}"/>
            <p th:text="'OS: ' + ${@environment.getProperty('os.name')}"/>
            <p th:text="'Java Runtime: ' + ${@environment.getProperty('java.runtime.name')}"/>
            <p th:text="'Java Variant: ' + ${@environment.getProperty('java.vm.name')}"/>
            <p th:text="'Java Version: ' + ${@environment.getProperty('java.runtime.version')}"/>

            <!--<p th:each="defaultprofile : ${@environment.getDefaultProfiles()}"  th:text="'Default Profile: '+${defaultprofile}"/>-->
            <!--<p th:text="'Has Database: ' + ${@environment.getProperty('info.hasdatabase')}"/>-->
            <!--<p th:text="'Has Messaging: ' + ${@environment.getProperty('info.hasmessaging')}"/>-->
        </div>
    </div>

    <div class="w3-half w3-black w3-container w3-center" style="height:700px" id="standard">
        <div class="w3-padding-64">
            <h1>Actuator</h1>
        </div>
        <div class="w3-center">
            <a href="/info" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">/Info</a>
            <a href="/health" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">/Health</a>
            <a href="/env" class="w3-button w3-black w3-block w3-hover-red w3-padding-16">/Env</a>
            <a href="/configprops" class="w3-button w3-black w3-block w3-hover-red w3-padding-16">/ConfigProps</a>
            <a href="/beans" class="w3-button w3-black w3-block w3-hover-red w3-padding-16">/Beans</a>
            <a href="/metrics" class="w3-button w3-black w3-block w3-hover-red w3-padding-16">/Metrics</a>
            <a href="/loggers" class="w3-button w3-black w3-block w3-hover-red w3-padding-16">/Loggers</a>
            <a href="/trace" class="w3-button w3-black w3-block w3-hover-red w3-padding-16">/Trace</a>
            <!--<small><p>To disable Actuator security, set <pre>management.security.enabled=false</pre> in <pre>application.properties</pre>.</p></small>-->
            <small class="w3-button w3-black w3-block w3-hover-red w3-padding-16"
               th:text="'Secured: ' + ${@environment.getProperty('management.security.enabled')}"/>
        </div>
    </div>
</div>

<!-- First Grid: Actuator Endpoints -->
<div class="w3-row">
    <div th:if="${@environment.acceptsProfiles('cloud')}" class="w3-half w3-deep-purple w3-container w3-center" style="min-height:700px" id="cloud">
        <div class="w3-padding-64">
            <h1>Cloud</h1>
        </div>
        <div class="w3-center">
            <p th:text="'Foundation: ' + ${@environment.getProperty('cloud.application.cf_api')}"/>
            <p th:text="'App Name: ' + ${@environment.getProperty('vcap.application.name')}"/>
            <p th:text="'App Id: ' + ${@environment.getProperty('INSTANCE_GUID')}"/>
            <p th:text="'App Index: ' + ${@environment.getProperty('INSTANCE_INDEX')}"/>
            <p th:text="'App Space: ' + ${@environment.getProperty('vcap.application.space_name')}"/>
            <p th:text="'App URI: ' + ${@environment.getProperty('vcap.application.uris')}"/>
            <p th:text="'App Memory: ' + ${@environment.getProperty('vcap.application.limits.mem')}"/>
            <p th:text="'App Storage: ' + ${@environment.getProperty('vcap.application.limits.disk')} + ' (ephem)'"/>
        </div>
    </div>

    <div th:if="${@environment.containsProperty('cloud.services.mysql.id')}" class="w3-half w3-deep-purple w3-container w3-center" style="min-height:700px" id="database">
        <div class="w3-padding-64">
            <h1>Database</h1>
        </div>
        <div class="w3-center">
            <p th:text="'Ident: ' + ${@environment.getProperty('cloud.services.mysql.id')}"/>
        </div>
    </div>
</div>

</body>
<!-- Footer -->
<footer class="w3-container w3-black w3-padding-16">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
</html>